body {
    margin-top: 0px;
    margin-bottom: 0px;
}

.base {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #dddddd;
}
header {
    display: flex;
    flex-direction: column;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #bbbbbb;
    margin: 10px;
    margin-bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-style: solid;
    border-width: 0px;
}



.logo_anchor {
    width: 100%;

}
.logo {
    width: 100%;

}


.shop_image {
    width: 100%;
    opacity: 0.2;
}
nav > a {
    margin: 20px;
    padding: 10px;

    background-color: #999999;
    color: white;
    text-decoration: none;
}
.logo_and_contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.contact {
    margin: 10px;
    margin-right: 50px;
    padding: 20px;
    border-radius: 5px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
    background-color: #bbbbbb; 
    /*box-shadow: inset 0 0 5px 10px #dddddd;*/
}
.contact p {
    margin: 5px;
}

section {
    margin: 10px;
    margin-top: 0px;
    border-width: 10px;
    border-style: solid;
    border-color: #bbbbbb;
    border-top: none;
    height: 100%;
    overflow: auto;
    flex-grow: 1;
}

html, body, .base {
   min-height: 100vh;
}

.div_section {
    margin: 20px;
}

.div_img {
    position: relative;
}

.list-group.links {
    position: absolute;
    bottom: 20%;
    left: 20px;
}

#body .list-group-item {
    background-color: transparent;
    /*background-color: #cccccc;*/
    border-radius: 0.25rem;
/*    border-top: 1px solid #ddd;
    border-radius: 0;
    color: #fff;
    border: none;*/
}


#body .list-group-item.i2 {
    position: relative;
    left: 22px;
}

#body .list-group-item.i3 {
    position: relative;
    left: 44px;
}

#body .list-group-item.i4 {
    position: relative;
    left: 66px;
}

#body .list-group.info {
    position: absolute;
    bottom: 20%;
    left: 40%;
}

#body .info {
    position: absolute;
    bottom: 60%;
    background-color: transparent;
/*    background-color: #cccccc;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;*/
/*    border: solid;
    border-width: 1px;*/
}

#body .info p {
    margin: 10px;
}
